@import 'tailwindcss';
@import './base-styles/input.css';

@layer base {
  html,
  body,
  #app {
    height: 100%;
    width: 100%;
  }
  body {
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
  }
  #app {
    display: flex;
    flex-direction: column;
  }
}
