@import 'tailwindcss';
@import './base-styles/input.css';
@import './base-styles/button.css';

@layer base {
  html,
  body,
  #app {
    height: 100%;
    width: 100%;
  }
  body {
    background-color: light-dark(var(--color-zinc-200), var(--color-zinc-900));
    color: light-dark(black, white);
    color-scheme: light dark;
  }
  #app {
    display: flex;
    flex-direction: column;
  }
}
